/* 언어설정 */
@charset "utf-8";

/* 기본설정 */
* {margin: 0; padding: 0;}
ul,ol {list-style: none;}
a {text-decoration: none;
    color: #000;}
img {border: none;
    vertical-align: bottom}

/* 레이아웃 설정 */

#wrap {display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: 0 auto;}

/* 헤더 */
.header {width: 100%;
    height: 100vh;
    background-color: cadetblue;}
.header .navi ul{width: 100%;
    display: flex;
    justify-content: flex-end;}
.header .navi ul li{margin-right: 10px;}
.header .navi ul li a{display: block; padding: 5px 15px;
    margin:5px auto;
    background-color: lightblue;}
.header .icon {width: 100%;
}


/* 체험프로그램 */
.program {width: 100%;
height: 810px;
background-color: rgb(222, 220, 245);
display: flex;}

.program .titleBox{width:30%;
height: 100%;
background-color: rgb(165, 114, 114);}

.program .listBox{width: 70%;
height: 100%;}
.program .listBox ul{display: flex;}
.program .listBox li {width: 33.3333%;
height: 810px;
border: 1px solid pink;
position: relative;
overflow: hidden;}
.program .listBox img{width: auto; height: 100%;}
.program .listBox .text{width: 100%; height: 20%;
position: absolute; right: 0; bottom: 0;
background-color: rgba(255, 255, 255, 0.8);
text-align: center;}


/* 업체소개 */
.intro {width: 100%;
height: 1070px;
background-color: bisque;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;}
.intro .intro_inner .info{
    width: 1000px; height: 570px;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;}
.intro .intro_inner .info h2{font-size: 75px;
color: darkblue;
margin: 50px auto;}
.intro .intro_inner .info .p2{font-size: 30px;
margin: 20px;}

.info .intro_inner .floor ul{display: flex;}
.info .intro_inner .floor ul li{}


/* 포토갤러리 ~ 동물 소개 */

.group{width: 100%;
height: 3200px;
background-color: coral;
display: flex;
flex-direction: column;}
/* 백그라운드 그라데이션 */
/* 포토갤러리 */

.group .photoG{width: 100%;
height: 920px;
background-color: darkblue;}
.group .photoG ul{height: 100%;
    display: flex;
justify-content: center;
align-items: center;}

/* 동물 현황 */
.group .animalInfo {width: 100%; height: 1190px;
    background-image: url(img/star_bg.png);
    background-size: cover;
background-repeat: no-repeat;}
.group .animalInfo .title{
    width: 100%;    
    display: flex;}
.group .animalInfo .title div{width: 33.3333%;}

.group .animalInfo .gragh{width: 100%;
    display: flex;
    justify-content: center;}
.group .animalInfo .gragh img{max-width: 100%;}
.group .animalInfo p{text-align: center; margin-top: 50px;}
.group .animalInfo p:nth-child(2){margin-top: 30px;}

/* 동물 소개 */
.group .animal {width: 100%; height: 1086px;
background-color: darkslateblue;}
.group .animal .title{
    width: 100%;    
    display: flex;
    align-items: center;}
.group .animal .title div{background-color: burlywood;}
.group .animal .title div:nth-child(1){width: 60%; height: 1px;}
.group .animal .title div:nth-child(2){width: 15%;}
.group .animal .title div:nth-child(3){width: 25%; height: 1px;}

.group .animal .list {margin-top: 100px;}
.group .animal .list ul{display: flex;
flex-direction: column;
align-items: center;}
.group .animal .list ul li img{width: 760px; height: 260px;
max-width: 100%;}
.group .animal .list ul li{height: 330px;
border-bottom: 1px solid #fff;}
.group .animal .list p{text-align: center;
margin-top: 50px;}


/* 이벤트/공지사항/문답 */

.eventBox{width: 100%;
height: 690px;
background-color: darkseagreen;
display: flex;}
.eventBox .event{width: 50%;
background-color: darkslategrey;
display: flex;
flex-direction: column;}
.eventBox .event .list {width: 100%;
background-color: aliceblue;}
.eventBox .event .list ul{
    display: flex;
justify-content: center;}


.eventBox .borad{width: 50%;
background-color: khaki;}






.sns{width: 100%;
height: 770px;
background-color: darkkhaki;}

.clock{width: 100%;
height: 450px;
background-color: black;}

.mapBox{width: 100%;
height: 1330px;
background-color: lightblue;}

/* 미디어 쿼리 ################################################# */

/* 태블릭 834px이하 */
@media (max-width:834px) and (min-width:403px)
{}
/* 모바일 402px 이하 */
@media (max-width:402px)
{}