/* 언어설정 */
@charset "utf-8";

/* 기본설정 */
* {margin: 0; padding: 0;}
ul,ol {list-style: none;}
a {text-decoration: none;
    color: #000;}
img {border: none;
    vertical-align: bottom}

/* 레이아웃 설정 */

#wrap {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: 0 auto;
}

/* 헤더 */

.header {
    width: 100%;
    height: 620px;
    background-color: mediumaquamarine;
}


/* 프로그램 */

.program {
    width: 100%;
    height: 600px;
    background-color: mediumorchid;
}

/* 포토갤러리 */


.photoG {
    width: 100%;
    height: 600px;
    background-color: mediumpurple;
}


/* 업체소개 + 층별안내  */

.intro {
    width: 100%;
    height: 940px;
    background-color: mediumseagreen;
}

.intro .floor {width: 100%;
    height: 400px;
    background-color: rgb(228, 38, 48);}


/* 동물현황 + 동물소개 */

.animalInfo {
    width: 100%;
    height: 1200px;
    background-color: mediumslateblue;}


.animal {
    width: 100%;
    height: 700px;
    background-color: rgb(184, 38, 38);}



/* 이벤트 */

.event {
    width: 50%;
    height: 560px;
    background-color: rosybrown;
}

/* 공지사항 / 자주묻는 질문 */

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.boder {width: 50%;
    height: 560px;
    background-color: darkseagreen;
    display: flex;
    flex-direction: column;}

.boder .b_1{width: 100%;
    height: 10%;
background-color: azure;}

.boder .b_1 ul{display: flex;}
.boder .b_1 a{display: block; padding: 10px 20px;
    margin-right: 30px;
    font-size: 18px;
background-color: darkgreen;}

.boder .b_2{width: 100%;
    height: 90%;
    background-color: antiquewhite;}



/* .boder {
    width: 50%;
    height: 560px;
    background-color: darkseagreen;}

.boder ul{width: 100%; height: 100%;
    display: flex;}

.boder ul li{padding-right: 30px;}

.boder ul li a{width: 10%;
    background-color: salmon;} */




    /* sns */
.sns {width: 100%;
    height: 640px;
    background-color: darksalmon;}

/*  이용시간안내 */
.clock {width: 100%;
    height: 230px;
    background-color: darkkhaki;}


/* 예약 */
.reservation {width: 45%;
    height: 730px;
    background-color: darkorange;}


/* 오시는 길 */
.map {width: 55%;
    height: 730px;
    background-color: hotpink;}


/* 미디어 쿼리 ################################################# */

/* 태블릭 834px이하 */
@media (max-width:834px) and (min-width:403px)

{
    #wrap {width: 90%;}

    .header {width: 100%;
        height: 410px;}


    .program {width: 100%;
        height: 350px;}

    .photoG {width: 100%;
        height: 350px;}

    .intro {width: 100%;
        height: 545px;}

    .intro .floor {width: 100%;
        height: 290px;}

    .animalInfo {width: 100%;
        height: 700px;}

    .animal {width: 100%;
        height: 400px;}

    .event {width: 50%;
        height: 320px;}

    .boder {width: 50%;
        height: 320px;}

    .sns {width: 100%;
        height: 370px;}

    .clock {width: 100%;
        height: 130px;}

    .reservation {width: 45%;
        height: 425px;}

    .map {width: 55%;
        height: 425px;}

}

/* 모바일 402px 이하 */
@media (max-width:402px)

{
    #wrap {width: 100%}

    .header {width: 100%;
        height: 570px;
        order: 1;}

    .intro {width: 100%;
        height: 230px;
        order: 2;}

    .program {width: 100%;
        height: 180px;
        order: 3;}

    .photoG {width: 100%;
        height: 160px;
        order: 4;}

    .animalInfo {width: 100%;
        height: 160px;
        order: 5;}

    .animal {width: 100%;
        height: 290px;
        order: 6;}

    .intro .floor {width: 100%;
        height: 290px;
        order: 7;}

    .event {width: 100%;
        height: 180px;
        order: 8;}

    .boder {width: 1000%;
        height: 170px;
        order: 9;}

    .sns {width: 100%;
        height: 180px;
        order: 10;}

    .clock {width: 100%;
        height: 120px;
        order: 11;}

    .reservation {width: 100%;
        height: 200px;
        order: 12;}

    .map {width: 100%;
        height: 200px;
        order: 13;}
}