/* 언어설정 */
@charset "utf-8";

/* 구글폰트 */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Gothic&family=Nanum+Pen+Script&family=Song+Myung&display=swap');

/* 기본설정 */
* {margin: 0; padding: 0;}
ul,ol {list-style: none;}
a {text-decoration: none;
    color: #000;}
img {border: none;
    vertical-align: bottom}
body{overflow-x:hidden;}

/* 레이아웃 설정 */

#wrap {display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0 auto;
    font-family: "Nanum Gothic", serif;
    font-weight: 400;
    font-style: normal;}

/* 헤더 */
.header {width: 100%;
    height: 100vh;
    background-image: url(img/landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;}
.header .navi ul{width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;}
.header .navi ul li{margin-right: 10px;}
.header .navi ul li a{display: block; padding: 5px 15px;
    margin:5px auto;
    color: #fff;
    font-size: 16px;}

.header .icon {width: 44px;
position: absolute;
left: 50%;
bottom: 50px;
margin-left: -22px;}
.header .icon img{width: 100%;}

.header .text {position: absolute;
left: 28%; top: 32%;
font-size: 22px;
color: #2877E5;
font-family: "Nanum Pen Script", serif;
font-weight: 400;
font-style: normal;}

.header .text span{font-size: 32px;
color: #fff;
margin-left: 35px;}


/* 체험프로그램 */
.program {width: 100%;
    height: 810px;
    display: flex;}

.program .titleBox{width:50%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;}
.program .titleBox p{width: 100%;
    margin-right: 80px;
    margin-top: 150px;
    font-size: 28px;
    color: #000;
    text-align: right;}

.program .titleBox p:nth-child(2){width: 100%;
        margin-left: 200px;
        font-size: 18px;
        color: #525252;
        text-align: left;}

.program .titleBox span{display: inline-block;
    padding: 0 3px;
    border-right: 4px solid #b3b3b3;
    margin-right: 2px;
    font-size: 28px;
    color: #b3b3b3;}
.program .titleBox em{font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: #01AAD7;}

.program .listBox{width: 70%;
    height: 100%;
    background-color: burlywood;}
.program .listBox ul{display: flex;}
.program .listBox li {width: 33.3333%;
    height: 810px;
    position: relative;
    overflow: hidden;}
.program .listBox img{width: auto; height: 100%;
    transform: translateX(-300px);}
.program .listBox li:nth-child(3) img{width: auto; height: 100%;
    transform: none;}
.program .listBox .text{width: 100%; height: 0;
    position: absolute; left: 0; bottom: 0;
    background-color: rgb(255, 255, 255, 0.8);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;}

    .program .listBox .text p{margin-top: 50px;
    color:#000;
    font-size: 22px;
    font-family: "Gowun Dodum", serif;}
    .program .listBox .text .btn a{
        color: #424242;
        display: block;
        padding: 10px 15px;
        border:  1px solid #424242;
        font-size: 24px;
        text-align: center;
        margin-top: 30px;
        font-family: "Gowun Dodum", serif;
    }

.program .listBox li:hover {width: 60%; height: 810px;
transition: all 0.5s;}
.program .listBox li:hover .text{width: 100%; height: 270px;
    position: absolute; left: 0; bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
transition: all 1.2s;} 



/* 업체소개 */

.intro {width: 100%;
height: 100vh;
background-image: url(img/aquariumbg.jpg);
background-size: cover;
background-repeat: no-repeat;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}

.intro .intro_logo{margin-top: -20px;
    margin-bottom: 20px;}
    .intro .intro_logo img{width: 80px; height: 80px;}

.intro .intro_inner .info{
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 35px;}
.intro .intro_inner .info h2{font-size: 45px;
    color: darkblue;
    font-family: "Gowun Dodum", serif;
    font-weight: 400;
    font-style: normal;}

.intro .intro_inner .info p{
    font-family: "Gowun Dodum", serif;
    font-weight: 400;
    font-style: normal;}
.intro .intro_inner .info .p1{font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    color: #fff;}
.intro .intro_inner .info .p2{font-size: 30px;
    text-align: center;
    color: #093888;}
.intro .intro_inner .info .p3{font-size: 20px;
    margin-top: 15px;
    text-align: center;
    color: #fff;}


.intro_inner .floor{}
.intro_inner .floor ul{width: 1000px;
                        display: flex;
                        justify-content: space-between;}
.intro_inner .floor ul li{}
.intro_inner .floor ul li p{font-size: 35px;}
.intro_inner .floor ul li em{font-size: 25px;
                            font-style: normal;}

.floor .f_bg{margin-top: 30px;
    position: relative;}
.floor .f_bg .f_text{position: absolute;
    left: 0;
    top: 0;

    width: 160px;
    height: 160px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;}

    
/* 포토갤러리 ~ 동물 소개 */

.group{width: 100%;
height: 3000px;
background-color: gray;
display: flex;
flex-direction: column;}

/* 백그라운드 그라데이션 */
.group{background: linear-gradient(#101E36, #0E2449, #093888);}

/* 포토갤러리 */

.group .photoG{width: 100%;
    height: auto;
    padding-bottom: 50px;}
.group .photoG ul{width: calc(350px * 8);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;}

.group .photoG ul li{width: 350px;
    margin-left: 40px;
    height: 450px;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgb(49, 49, 49);}
.group .photoG ul img{width:auto; height: 450px;} 
.group .photoG ul li:nth-child(odd){margin-top: 150px;}


/* 동물 현황 */

.group .animalInfo {width: 100%; height: auto;
    margin-top: 300px;
    margin-bottom: 250px;
    background-image: url(img/star_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.group .animalInfo .gragh{width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;}
.group .animalInfo .gragh img{max-width: 100%;}
.group .animalInfo .text p{text-align: center; margin-top: 60px;
    color: #fff;
    font-size: 30px;
    font-family: "Song Myung", serif;
    text-shadow: 0px 0px 6px rgb(231, 231, 162);}
.group .animalInfo .text p:nth-child(2){margin-top: 30px;
    font-size: 25px;
    font-family: "Song Myung", serif;}


.animalInfo .title{
    width: 100%;    
    display: flex;
    align-items: center;}
.animalInfo .title div{background-color: #fff; text-align: center;}
.animalInfo .title div:nth-child(1){width: 30%; height: 1px;}
.animalInfo .title div:nth-child(2){width: 40%;
    font-size: 30px;
    color: #21C0EA;
    background-color: transparent;
    font-family: "Song Myung", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0px 0px 6px rgb(231, 231, 162);}
.animalInfo .title div:nth-child(3){width: 30%; height: 1px;}

.animalInfo .title div em{font-style: normal;
    font-size: 45px;}

/* 동물 소개 */
.group .animal {width: 100%; height: auto;
    padding-bottom: 50px;}
.group .animal .title{
    width: 100%;    
    display: flex;
    align-items: center;}
.group .animal .title div{background-color: #fff;}
.group .animal .title div:nth-child(1){width: 62%; height: 1px;}
.group .animal .title div:nth-child(3){width: 18%; height: 1px;}
.group .animal .title div:nth-child(2){width: 20%;
    background-color: transparent;
    font-size: 28px;
    font-family: "Song Myung", serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-align: right;
    text-shadow: 0px 0px 6px rgb(231, 231, 162);}
.animal .title div:nth-child(2) p{margin-right: 15px;}
.animal .title div:nth-child(2) span{display: inline-block;
        padding: 0 3px;
        border-right: 4px solid #b3b3b3;
        margin-right: 2px;
        font-size: 28px;
        font-family: "Nanum Gothic", serif;
        font-weight: 400;
        font-style: normal;        
        color: #b3b3b3;}
.animal .title div:nth-child(2) em{font-style: normal;
        font-weight: bold;
        font-size: 45px;
        color: #01AAD7;}



.group .animal .list {margin-top: 30px;}
.group .animal .list ul{display: flex;
flex-direction: column;
align-items: center;}
.group .animal .list ul li .img{width: 760px; height: 260px;
    overflow: hidden;
    transform:translateY(-10px);
    max-width: 100%;
    border-radius: 20px;}
.group .animal .list ul li{height: 330px;
border-bottom: 1px solid #fff;}
.group .animal .list>p{text-align: center;
    color: #fff;
    margin-top: 25px;
    padding-bottom: 50px;
    font-size: 25px;}
.group .animal .list p a{ color: #fff;
    font-family: "Song Myung", serif;} 

.animal .list .list01{width: 1190px;
    height: auto;
    display: flex;
justify-content: space-between;
padding-top: 40px;}
.animal .list .list01 img{width: auto;}
.animal .list .list01 .text{width: 45%;
display: flex;
flex-wrap: wrap;
flex-direction: row;
font-family: "Song Myung", serif;
color: #fff;}
.list01 .text p:nth-child(1){width: 50%;
    text-align: start;
    font-size: 28px;
    margin-top: 60px;
    text-shadow: 0px 0px 6px rgb(231, 231, 162);}
.list01 .text p:nth-child(2){width: 50%;
    text-align: center;
    font-size: 16px;
    margin-top: 72px;}
.list01 .text p:nth-child(3){width: 100%;
    text-align: start;
    font-size: 20px;}



/* 이벤트/공지사항/문답 */

.eventBox{width: 100%;
background-color: transparent}

.eventBox .eventBox-1{width: 80%;
margin: 0 auto;
padding-top: 20px;
padding-bottom: 50px;
display: flex;}

/* 이벤트 */

.eventBox .event{width: 50%; height: auto;}

.eventBox .event .title{width: 90%;
    border-bottom: 0.5px solid #606060;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;}
    .eventBox .event .title h2{margin-left: 10px;
                               font-size: 38px;
                            color: #093888;
                            font-family: "Nanum Gothic", serif;
                            font-weight: bold;}
    .eventBox .event .title p{margin-right: 10px;
                        font-size: 40px;}


.eventBox .event .list {width: 100%;}
.eventBox .event .list ul{width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 10%;}

.eventBox .event .list ul li{width: 50%;}
.eventBox .event .list ul .event01 {width:90%; 
        border: 1px solid #000;
        border-radius: 10px 10px 0 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin: 0 auto;
        overflow: hidden;}

    .eventBox .event .list ul .event01 img{max-width: 100%;}
    .eventBox .event .list ul .event01 .text{background-color: #fff;
        width: 100%; height: 90px;
        border-radius: 10px 10px 0 0;
        border-bottom: 1px solid #000;
        text-align: center;
        padding-top: 20px;
        font-size: 18px;
        position: relative;
        font-family: "Nanum Gothic", serif;}
    .eventBox .event .list ul .event01 div span{font-size: 16px;
        font-weight: bold;}
    .eventBox .event .list ul .event01 div p{margin-top: -10px;}
    .eventBox .event .list ul .event01 div p:nth-child(2){
        color: #606060;
        font-size: 12px;

        position: absolute;
        right: 10px;
        bottom: 10px;}


/* 공지사항 / 문답 */

.eventBox .borad{width: 50%; height: 100%;}

.eventBox .borad .title{width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 1px solid #606060;}
.eventBox .borad .title i{font-size: 40px;}

.eventBox .borad .title ul{display: flex;}
.eventBox .borad .title ul li{ margin: 0 10px; padding: 5 10px;
    font-size: 38px;
    color: #093888;
    cursor: pointer;
    font-family: "Nanum Gothic", serif;
    font-weight: bold;}
.eventBox .borad .title ul li:nth-child(2){font-size: 30px;
        color: #606060;
        cursor: pointer;
        font-family: "Nanum Gothic", serif;
        font-weight: bold;}
.eventBox .borad .title ul li:hover{font-size: 38px;
    color: #093888;}


.event .conBox .notice{width: 90%; margin: 0 auto;}
.eventBox .conBox .notice ul{width: 80%;
    margin: 30px auto;}
.eventBox .conBox .notice li{width: 100%;
    margin: 20px 0;
    padding-bottom: 15px;
    border-bottom:  1px dotted #666;}
.eventBox .conBox .notice li a{font-size: 18px;
        font-family: "Nanum Gothic", serif;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: left;}
.eventBox .conBox .notice li:last-child{border-bottom:  1px solid #000;}
.eventBox .conBox .notice li:first-child{margin-top: 10px; }


.notice02 {display: none;}


/* sns */

.sns{width: 100%;
}
.sns .title{width: 78%;
    margin: 0 auto;
display: flex;
border-bottom: 1px solid #606060;
padding-bottom: 5px;
}
.sns .title h2{width: 90%; 
    font-size: 38px;
    color: #093888;
    font-family: "Nanum Gothic", serif;
    font-weight: bold;}
.sns .title ul{width: auto;
    display: flex;}
.sns .title ul li{width: 50px;
border: 1px solid transparent;
border-radius: 50%;
margin: 0 30px;
overflow: hidden;
}

.sns .list{padding-bottom: 50px;}
.sns .list ul{width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;}

.sns .list ul li{margin-right: 45px;}
.sns .list ul li img{width: 300px; height: 300px;
    border: 1px solid #000;}
    

.sns .list ul li span{font-size: 14px;
    color: #787878;
    font-weight: normal;}
.sns .list ul li p{ margin-top: 3px;
    font-size: 20px;
    font-weight: bold;
    color: #000;}

/* 연중무휴 */

.clock{width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(img/jelly.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;}

.clock .clockbox {display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;}
.clock p{color: #757575;
    font-size: 14px;
    margin-top: 10px;}
.clock .clockbox h2{background-color: #4880ED;
    padding: 0 15px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: -25px;
    margin-left: -85px;
    font-size: 35px;}
.clock .clockbox .c_inner p{background-color: rgba(255, 255, 255, 0.4); padding: 15px 20px;
    color: #fff;
    font-size: 20px;}


/* 오시는 길 / 예약*/

.mapBox{width: 100%;
height: 1350px;
background-color: lightblue;
position: relative;}

.map{width: 100%; height: 100%;}
.map>iframe{width: 100%; height: 100%;}

.mapBox .maptext {position: absolute;
right: 30px;
bottom: 30px;}
.mapBox .maptext h3{font-size: 30px;
    text-align: right;
margin-bottom: -25px;}
.mapBox .maptext p{text-align: right;
font-size: 20px;
margin-top: 30px;}
.mapBox .maptext span{font-size: 16px;}

/* 예약 */
.reservation {width: 560px; height: 1000px;
    background-color: rgba(27, 155, 214, 0.5);
    border-radius: 50px 50px 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 230px;
    bottom: 0;}

.reservation form{margin-left: 40px;}


.reservation .cal {width: 450px; height: 350px;
    background-color: #fff;
    margin-top: 50px;
    overflow: hidden;}
.reservation .cal>img{transform: translateY(10px) translateX(-15px);}

.reservation .text{
    color: #000;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.reservation .menu {width: 450px;
    display: flex;
    flex-direction: column;}
.reservation .menu p{
    padding: 8px 0 8px 5px;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;}
    .reservation .menu .menu_C ul{display: flex;
        flex-direction: column;
        text-align: start;} 
        .reservation .menu .menu_C ul li{width: 440px;
        padding:8px 0 8px 10px;
        background-color: #eee;
        font-size: 16px;
        display: flex;
        justify-content: space-between;}
        .reservation .menu .menu_C ul li input{margin-right:10px;
        padding: 2px 0;}

.reservation .opt {margin-top: 15px;
                margin-bottom: 15px;}
.reservation .opt div{width: 440px;
    padding: 8px 0 8px 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 10px;}
.reservation .opt div input{margin-right: 15px;}


.reservation .reser{width: 450px; height: 140px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reservation .reser .reser01{width: 100%;
    background-color: #ccc;
    padding: 3px 0;
    border: 5px solid #eee;
    box-sizing: border-box;    
    margin: 3px 0;}
.reservation .reser .reser01 ul{display: flex;
    align-items: center;
    justify-content: space-between;}
.reservation .reser .reser01 li:nth-child(1){width: 48%;
    text-align:start;
margin-left: 10px;
font-size: 18px;}
.reservation .reser .reser01 li:nth-child(2)
{ width: 4%; background-color: #bbb;
    display: block;
padding: 3px 10px;
text-align: center;}
.reservation .reser .reser01 li:nth-child(3){width: 48%;
text-align: end;
margin-right: 10px;
font-size: 18px;}

.reservation .reser .reser02{width: 100%;
text-align: end;
margin-top: 5px;
margin-right: 20px;
font-size: 20px;
color: #26A0D5;}

.reservation .btn{width: 500px; height: 50px;
margin-top: 20px;
text-align: end;}
.reservation .btn a{
display: inline-block;
padding: 2px 35px;
text-align: center;
border: 1px solid #fff;
border-radius: 5px;
box-sizing: border-box;
color: #fff;
font-size: 20px;
background-color: rgba(255, 255, 255, 0.2);
margin-right: 48px;}

.reservation .btn a:hover{
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    background-color: #01AAD7;
    margin-right: 48px;}



/* 미디어 쿼리 ################################################# */

/* 태블릭 834px이하 */
@media (max-width:834px) and (min-width:403px)
{}
/* 모바일 402px 이하 */
@media (max-width:402px)
{}